.about-container {
  display: flex;
  
  background-color: white;
  color: black;
  height: 80vh;
  
}

.about-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px 0 20px;
    width: 55%;
}

.about-desc > h3 {
  margin-bottom: 30px;
  font-size: 28px;
}

.about-desc > p {
  line-height: 1.5;
}

.about-img {
    padding: 1em;
    
    width: 45%;
    display: flex;   
    overflow: hidden;

  }
  .about-img > img{
    width: 100%;
    border-radius: 1em;
    object-fit: cover;
  }

  @media screen and (max-width: 960px){
    .about-container{
      flex-direction: column;
      padding: 0;
      height: auto;
      align-items: center;
      text-align: center;
    }

    .about-desc{
      width: 90%;
      margin: 0 auto;
      padding: 40px 20px 50px 20px;
    }

    .about-desc > h3 {
      font-size: 20px;
      text-align: center;
    }

    .about-img{
      justify-self: center;
      border-radius: 10px;
      width: 100%;
      margin-bottom: 50px;
      
    }

    .about-img> img{
      height: 25em;
      object-fit: cover;

      ;
    }
  }